body{
        background-color:#313538;
    }

    option{
        text-align: center;
        padding: 2px;
    }

    .fixed-size {
        width: 100%; /* Make sure it fills the column */
        height: auto; /* Maintain aspect ratio */
        max-height: 200px; /* Example height to constrain size */
        object-fit: contain; /* Ensure the image fits the container without distortion */
    }

    .col{
        margin:20px ;
    }

    