

{% extends 'base1.html' %}

{% block title %}EPL{% endblock %}

{% block form_action %}league_teams{% endblock %}

{% block body %}

<h1 style="text-align: center; color: white;">Available Teams</h1>
<div class="container" style="border: 2px solid white;">
  <!-- First Row -->
  <div class="row">
      <div class="col">
          <img src="./static/images/1.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/2.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/3.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/4.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/5.svg" class="img-fluid fixed-size">
      </div>
  </div>

  <!-- Second Row -->
  <div class="row">
      <div class="col">
          <img src="./static/images/6.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/7.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/8.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/9.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/10.svg" class="img-fluid fixed-size">
      </div>
  </div>

  <!-- Third Row -->
  <div class="row">
      <div class="col">
          <img src="./static/images/11.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/12.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/13.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/14.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/15.svg" class="img-fluid fixed-size">
      </div>
  </div>

  <!-- Fourth Row -->
  <div class="row">
      <div class="col">
          <img src="./static/images/16.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/17.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/18.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/19.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/20.svg" class="img-fluid fixed-size">
      </div>
  </div>

  <!-- Fifth Row -->
  <div class="row">
      <div class="col">
          <img src="./static/images/21.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/22.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/23.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/24.webp" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/25.svg" class="img-fluid fixed-size">
      </div>
  </div>

  <!-- Sixth Row -->
  <div class="row">
      <div class="col">
          <img src="./static/images/26.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/27.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/28.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/29.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/30.svg" class="img-fluid fixed-size">
      </div>
  </div>

  <!-- Seventh Row -->
  <div class="row">
      <div class="col">
          <img src="./static/images/31.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/32.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/33.png" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/34.svg" class="img-fluid fixed-size">
      </div>
      <div class="col">
          <img src="./static/images/35.svg" class="img-fluid fixed-size">
      </div>
  </div>
</div>
      
{% endblock %}