{% extends 'base2.html' %}

{% block title %}Stats_{{team}}{% endblock %}

{% block body %}

<div class="container-fluid mt-4 mb-4">
  <img src="{{path}}"class="img-fluid fixed-size">
  <h1 style="text-align: center; color: white;">{{year}}</h1>
</div>
<div class="container mt-4 mb-4">
      <table class="table table-striped table-dark table-hover table-responsive" id="attack_speed">
      <thead>
        <tr>
          <!-- Assuming the stat has fixed column names, hardcode them here -->
          <th>id</th>
            <th>attack_speed_id</th>
            <th>Attack Speed</th>
            <th>shots</th>   <th>Goals</th>   <th>ShotsA</th>   <th>GoalsA</th>   <th>xG</th>   <th>xGA</th>   <th>xGD</th>   <th>xG/Sh</th>   <th>xGA/Sh</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data[1] %}
          <tr>
            {% for value in row %}
              <td>{{ value }}</td> 
            {% endfor %}
          </tr>
        {% else %}
          <tr>
            <td colspan="100%">No data found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="container mt-4 mb-4">
    <table class="table table-striped table-dark table-hover table-responsive" id="Situation">
    <thead>
      <tr>
        <!-- Assuming the stat has fixed column names, hardcode them here -->
        <th>id</th>
          <th>situation_id</th>
          <th>Situation</th>
          <th>shots</th>   <th>Goals</th>   <th>ShotsA</th>   <th>GoalsA</th>   <th>xG</th>   <th>xGA</th>   <th>xGD</th>   <th>xG/Sh</th>   <th>xGA/Sh</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data[2] %}
        <tr>
          {% for value in row %}
            <td>{{ value }}</td> 
          {% endfor %}
        </tr>
      {% else %}
        <tr>
          <td colspan="100%">No data found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container mt-4 mb-4">
  <table class="table table-striped table-dark table-hover table-responsive" id="result">
  <thead>
    <tr>
      <!-- Assuming the stat has fixed column names, hardcode them here -->
      <th>id</th>
        <th>Result_id</th>
        <th>Result</th>
        <th>shots</th>   <th>Goals</th>   <th>ShotsA</th>   <th>GoalsA</th>   <th>xG</th>   <th>xGA</th>   <th>xGD</th>   <th>xG/Sh</th>   <th>xGA/Sh</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data[3] %}
      <tr>
        {% for value in row %}
          <td>{{ value }}</td> 
        {% endfor %}
      </tr>
    {% else %}
      <tr>
        <td colspan="100%">No data found</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="container mt-4 mb-4">
  <table class="table table-striped table-dark table-hover table-responsive" id="attack_speed">
  <thead>
    <tr>
      <!-- Assuming the stat has fixed column names, hardcode them here -->
      <th>id</th>
        <th>timing_id</th>
        <th>Timing</th>
        <th>shots</th>   <th>Goals</th>   <th>ShotsA</th>   <th>GoalsA</th>   <th>xG</th>   <th>xGA</th>   <th>xGD</th>   <th>xG/Sh</th>   <th>xGA/Sh</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data[4] %}
      <tr>
        {% for value in row %}
          <td>{{ value }}</td> 
        {% endfor %}
      </tr>
    {% else %}
      <tr>
        <td colspan="100%">No data found</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="container mt-4 mb-4">
  <table class="table table-striped table-dark table-hover table-responsive" id="shotzone">
  <thead>
    <tr>
      <!-- Assuming the stat has fixed column names, hardcode them here -->
      <th>id</th>
        <th>Shotzone_id</th>
        <th>Shotzone</th>
        <th>shots</th>   <th>Goals</th>   <th>ShotsA</th>   <th>GoalsA</th>   <th>xG</th>   <th>xGA</th>   <th>xGD</th>   <th>xG/Sh</th>   <th>xGA/Sh</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data[5] %}
      <tr>
        {% for value in row %}
          <td>{{ value }}</td> 
        {% endfor %}
      </tr>
    {% else %}
      <tr>
        <td colspan="100%">No data found</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="container mt-4 mb-4">
  <table class="table table-striped table-dark table-hover table-responsive" id="formation">
    <thead>
      <tr>
        <!-- Assuming the stat has fixed column names, hardcode them here -->
        <th>id</th>
          <th>Formation_id</th>
          <th>Formation</th>
          <th>Min</th> 
          <th>shots</th>   <th>Goals</th>   <th>ShotsA</th>   <th>GoalsA</th>   <th>xG</th>   <th>xGA</th>   <th>xGD</th>   <th>xG90</th>   <th>xGA90</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data[6] %}
        <tr>
          {% for value in row %}
            <td>{{ value }}</td> 
          {% endfor %}
        </tr>
      {% else %}
        <tr>
          <td colspan="100%">No data found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>>
</div>
  <div class="container mt-4 mb-4">
    <table class="table table-striped table-dark table-hover table-responsive" id="GameState">
      <thead>
        <tr>
          <!-- Assuming the stat has fixed column names, hardcode them here -->
          <th>id</th>
            <th>Gamestate_id</th>
            <th>GameState</th>
            <th>Min</th> 
            <th>shots</th>   <th>Goals</th>   <th>ShotsA</th>   <th>GoalsA</th>   <th>xG</th>   <th>xGA</th>   <th>xGD</th>   <th>xG90</th>   <th>xGA90</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data[7] %}
          <tr>
            {% for value in row %}
              <td>{{ value }}</td> 
            {% endfor %}
          </tr>
        {% else %}
          <tr>
            <td colspan="100%">No data found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>>
  </div>
{% endblock %}